.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(114, 10, 10, 0.585);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 22px;
  }

  .logo {
    display: flex;
    align-items: center;
    /* font-weight: bold; */
  }

  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logo span {
    margin-left: 5px; /* Espacio entre el logo y el texto "Ventas" */
    margin-right: 22px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .login-button,
  .contrast-button {
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    font-weight: bold;
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  .contrast-button {
    color: #fff;
    background-color: #000;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    .buttons {
      margin-top: 10px;
    }
  }